/* @import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Dancing+Script&display=swap'); */
 /* @font-face {
    font-family: special ;
    src: url(fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}  */
/* button {
   
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px; */

    /* padding: 10px 30px 40px 50px; */
     /* padding: 10px 100px 50px;  */
    /* padding: 20px 100px; */
    /* padding: 20px; */

/* }  */
 /* p {
    background-color: coral;
     margin-top: 200px; 
     margin-left: 200px;
     padding-left: 30px;
     color: beige
}  */

/* button{
   padding:30px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
} */

 /* button{
    /* border: 3px dotted black; */
    /* border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;
     border-radius: 30px;  */
    /* border-top-left-radius: 10px;
    border-bottom-right-radius: 20px; */
/* }   */

/* Text Formatting */
/* h1 {
    text-shadow: 2px 3px grey ;
}

p {
    /* text-align: left; 
    text-indent: 50px;
    word-spacing: 20px;
    letter-spacing: 3px; */


/* }  */

/* Fonts */

/* p {
    font-size:20px;
    font-weight: lighter; */
    /* font-family: 'Carter One', cursive;
font-family: 'Dancing Script', cursive; */
    /* font-family: 'Carter One', cursive;
font-family: 'Dancing Script', cursive; */
    /* font-family: 'Carter One'; */
     /* font-family: special;   */
    
/* } */